body {
    background-color: #e6e6e6;
}
h1 {
    background-color: #e6e6e6;
    font-weight: bold;
    font-size: 45px;
    font-family: "Lucida Console", Courier, monospace;
    color: navy;
    margin: auto;
    width: 70%;
    text-align:center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
    left: 40%; /*why is 40% central*/
}
li {
    float: left;
    text-align:center;
    margin: 5px;
    padding: 15px, 5px, 5px, 5px;
    text-decoration: none;
}
li a {
    border-radius: 10px;
    border: 1px solid #555;
    display: inline;
    width: 50px;
    padding: 7px;
    margin: 5px;
    color: #000;
    text-decoration: none;
    background-color: #b3b3b3
}
li a:hover {
    background-color: #f2f2f2;
}
nav {
  margin: 20px;
  padding: auto;
}